<% include partials/header %>
<a class="a-source" href="https://docs.google.com/spreadsheets/d/<%= sheetId %>">Edit the source</a>
<h1>Where should we eat?</h1>

<!-- All form fields -->
<form method="GET">
  <input type="hidden" name="pick" value="true" />

  <% for (var field in fields) { %>
    <% if (field !== "id" && field !== "venue") { %>
      <p class="form-group">
        <label for="<%= field %>"><%= field %></label>
        <select name="<%= field %>" class="form-control">
          <option value="*">Any Choice</option>
          <% fields[field].forEach(function(f) { %>
            <option value="<%= f %>"><%= f %></option>
          <% }) %>
        </select>
      </p>
    <% } %>
  <% } %>

  <input type="submit" class="btn btn-primary" />
</form>
<% include partials/footer %>
